<div class="question-page">
	
	<h1>Question <%=@question_number%></h1>

	<p><%= @question.query %></p>

	<table class="fixed" table style="width:100%">
		<tr>
			<td>
				<div class="option-botton">
					<a href = "/games/<%=@question.game.id%>/update_score?option_id=<%=@options[0].id%>">

						<button type="button" class="btn" style="white-space: normal; height:200px; width: 600px;">
							<strong><%=@options[0].choice%></strong>
						</button>
					</a>
				</div>
			</td>

			<td>
				<div class="option-botton">
					<a href = "/games/<%=@question.game.id%>/update_score?option_id=<%=@options[1].id%>">
						<button type="button" class="btn" style="white-space: normal; height:200px; width: 600px;">
							<strong><%=@options[1].choice%></strong>
						</button>
					</a>
				</div>
			</td>

		</tr>

		<tr>
			<td>
				<div class="option-botton">
					<a href = "/games/<%=@question.game.id%>/update_score?option_id=<%=@options[2].id%>">
						<button type="button" class="btn" style="white-space: normal; height:200px; width: 600px;">
							<strong><%=@options[2].choice%></strong>
						</button>
					</a>
				</div>
			</td>

			<td>
				<div class="option-botton">
					<a href = "/games/<%=@question.game.id%>/update_score?option_id=<%=@options[3].id%>">
						<button type="button" class="btn" style="white-space: normal; height:200px; width: 600px;">
							<strong><%=@options[3].choice%></strong>
						</button>
					</a>
				</div>
			</td>
		</tr>
	</table>

</div>