<br>

<div>
	<% if @option.is_correct? %> 
		<div id="explanation">
			<h2><strong> Correct! Good job!</strong></h2>
			<div class ="ex-text"><strong><%= @option.question.explanation %></strong></div>
		</div>
		<img src="/assets/<%=@random_happy%>">
	<br></br>

	<% else %> 
		<div id= "wrong">
			<h2> Sorry, try again! </h2>
			<img src="/assets/<%=@random_sad%>">
			<div class ="btn-hold">
				<a href="/questions/<%=@option.question.id%>">
					<button type="button" class="btn btn-lg float-btn next-btn">
						Try Again
					</button>
				</a>
			</div>
		</div>
	<% end %>
	<% if (@option.question.id - Question.first.id) % 10 == 9 %>
			<div class ="btn-hold">
				<a href="/games/<%=@option.question.game.id%>/finish">
					<button type="button" class="btn btn-lg next-btn">
						Finish
					</button>
				</a>
			</div>
			<% else %>	
			<div class ="btn-hold">
				<a href="/questions/<%=@option.question.id+1%>">	
					<button type="button" class="btn btn-lg next-btn">
						Next Question
					</button>
				</a>
			</div>
	<% end %>
</div>
