<div class="jumbotron">
    <div id="welcome-title" class="animated flipInX">
      <h1 id="Fundi-title"><b>Are you a TriviaFundi?</b></h1>
      <h2 id="Fundi-subtitle"><b>Come and learn more about South Africa!</b></h2>
      <br><br>
    </div>
    <a class="btn btn-primary btn-lg" href="static_pages/about" role="button">Learn more</a>
</div>

<!-- <div class= "home_button">
    <% @games.each_with_index do |game,index| %>
        <a href="/questions/<%=Question.first.id+(index*10)%>">
            <button type="button" class="btn-lg btn-default">
                <%=game.title%>
            </button>
        </a>

        <br></br>
        <% end %>
</div>
 -->


<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
        <a href="/games/<%=Game.first.id%>/reset_score">
          <div class="box-pop">
            <div class="overlay">
              <span class="question_type">Pop Culture</span>
            </div>
          </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4">
        <a href="/games/<%=Game.first.id + 1%>/reset_score">
          <div class="box-apartheid">
            <div class="overlay">
              <span class="question_type">Apartheid</span>
            </div>
          </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4">
        <a href="/games/<%=Game.last.id%>/reset_score">
          <div class="box-history">
            <div class="overlay">
              <span class="question_type">History</span>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>