<!DOCTYPE html>
<html>
<header>
</header>
<head>
  <title>TriviaFundi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render partial: "nav" %>
  <%= yield %>



</body>
<footer> © 2015 FundiLearns</br>Made by Andrew Hoiberg, Vicky Zheng & Sabrina Li</footer>
</html>
